@tailwind base;
@tailwind components;
@tailwind utilities;

.input-log {
  @apply w-full border my-2 py-2 px-4 rounded-3xl;
}

textarea {
  @apply w-full border my-2 py-2 px-4 rounded-xl h-52;
}

button.login-button,
button.register-button {
  @apply w-full bg-primary font-semibold text-white mt-3 px-5 py-1 border border-primary rounded-2xl items-center;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

.home {
  height: 60vh;
  background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(0, 33, 33, 0.522)), url("../img/cover.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  margin-top: 2vh;
  border: 0px solid;
  border-radius: 30px;
  box-shadow: 0 1px 3px 1px rgba(134, 134, 134, 0.45);
}

.title {
  padding-top: 10vh;
  text-align: left;
  color: white;
  opacity: .9;
  font-size: 7vh;
  font-weight: 500;
}

.subTitle {
  text-align: left;
  color: white;
  opacity: 0.8;
  font-size: 3vh;
}

.homeCard {
  width: 60%;
  border-radius: 70px;
  padding: 2rem;
  position: absolute;
  justify-content: center;
  bottom: 25%;
  transform: translate(-50%);
  left: 50%;
  box-shadow: 0 1px 3px 1px rgba(134, 134, 134, 0.45);
}


.input-home:focus {
  @apply outline-none;
}


/* @media screen and(min-width: 448px) {
  .homeCard {
    display: block;
  }
} */